# env
.env
.env.*
!.env.example

# node
**/node_modules/

# logs
**/*.log

# builds
**/dist/
**/build/

# misc
.DS_Store
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Terraform plan files
*.tfplan
