.card {
  width: 200px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.imgWrapper{
  max-width: 160px;
  min-width: 160px;
  height: 160px;
  background-color: #f0fffd;
  align-self: flex-start;
}

.imgWrapper:active{
  border: 1px solid black;
}

.image {
  width: 160px;
  height: 150px;
  padding-top: 6px;
  padding-bottom: 6px;
  object-fit: contain;
  justify-content: center;
  margin-bottom: 10px;
}

.info {
  text-align: flex-start;
  margin-bottom: 12px;
}

.title {
  font-size: 1rem;
  color: #1e1e1e;
  font-weight: 700;
}

.description {
  color: #888;
  font-size: 0.9rem;
}

.actions {
  display: flex;
  gap: 6px;
}

/* Buttons */
.addBtn {
  background-color: #d18f55;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addBtn:hover {
  background-color: #b67845;
}

.addedBtn {
  background-color: #f5cc9e;
  border: none;
  color: #555;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
}

.removeBtn,
.removeBtnAlt {
  border: 1px solid #e0a36a;
  background: #fff;
  color: #d18f55;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 500;
}

.removeBtnAlt {
  opacity: 0.6;
}

.removeBtn:hover {
  background: #ffe3cb;
}

@media (max-width: 480px) {
  .card {
    width: 160px;
  }
  .image {
    width: 80px;
    height: 100px;
  }
}
