.metric-card {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.625rem;          
  padding: 2px;     
  width: 100%;
  max-width: 307px;         
  min-height: 125px;  
  border-radius: 0.5rem;  
  background-color: #fcf6f0;
  box-sizing: border-box;
  opacity: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease; */

  max-width: 88.6875rem;   /* 1419px design cap */
    width: 100%;
    margin: 4rem auto;       /* clean vertical spacing */
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1.5rem;             /* safe spacing scale */
    padding: 1rem;
}

.metric-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.metric-card-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #FFBF01;
  stroke-width: 1.5;
  align-self: center;
  padding-top: 4px;   
}


.metric-card-description {
  width: 100%;
  font-weight: 500;
  font-size: 1.65rem;
  line-height: 1.5;
  padding: 2px;
  color: #303134;
  align-self: flex-start;  
  text-align: center;       
}

@media (max-width: 768px) {
  .metric-card-description {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .metric-card-description {
    font-size: 1.1rem;
  }
}

