
.overlay-items {
    display: flex;
    align-items: center;
    justify-content: center;      
    font-family: inherit;
    min-height: 14.4375rem;       
    width: 100%;                 
    background-color: var(--color-primary);
    margin: 0 auto;               
    padding: 0;                  
}

.overlay-items-description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;              
    color: #ffffff;
    font-size: 1.25rem;           
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease;
}

