
.header-items{
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
}

.header-item-description{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;      
    height: 40px;         
    padding: 0 16px;
    border: 1px solid transparent;  
    text-decoration: none;
    color: #4A5565;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.2s ease;
}

.header-item-description:hover{
     background-color: #e6a767;
    border-radius: 6px;
}