.feature-card {
  border-radius: 12px;
  padding: 2rem;
  background-color: #fcf6f0;
  border: 1px solid rgb(239, 234, 234);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.feature-icon {
  width: 40px;
  height: 40px;
  color: #FFBF01;
  stroke-width: 1.5;
}

.feature-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

.feature-description {
  font-size: 1.25rem;
  font-weight: 400;
  color: #303134;
  line-height: 1.6;
  margin: 0;
}
