:root {
  
  --color-primary: #FFBF01;
  --color-danger: #DC143C;
  --color-success: #50C878;

  --color-text-dark: #111827;
  --color-text-light: #ffffff;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  --transition-fast: 150ms ease;
}

body {
  font-family: Inter, sans-serif;
  background: var(--color-bg-light);
  color: var(--color-text-dark);
}
