.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;   /* important */
    max-width: 1294px;
    width: 100%;
    height: 63px;          
    margin: 0 auto;
}
.header-nav{
    display: flex;
    gap: 50px;
}
.header-list{
    display: flex;
    align-items: center;
    gap: 41px;
}

.header-button{
    display: flex;
    align-items: stretch;
}

.header-button .button{
    height: 100%;
    padding: 0 24px;   
}
