


.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 6.1875rem;        
    width: 100%;                  
    max-width: 90rem;             
    background-color: var(--color-primary);
    color: #ffffff;
    margin: 0 auto;               
    padding: 1rem; 
     font-family: inherit;             
}

.footer-title  .footer-descriptio{
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 28px;
letter-spacing: 0px;

}

.footer-description{
font-family: inherit;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 28px;
letter-spacing: 0px;

}