/* 
.overlay-list {
    display: flex;                   
    padding: 0;
    margin: 0;
    list-style: none;
} */


.footer {
  max-width: 1440px;
  height: 330px;
  background-color: var(--color-primary); /* Burnt orange tone matching your image */
  color: white;
  padding: 2rem 1rem;
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
}

/* Links Row */
.linkContainer {
  height: 160px;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-top: 90px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;           
  font-weight: 700;
  opacity: 0.9;
  transition: opacity 0.3s, transform 0.2s;
}

.link:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* Supporting Text */

.supportText {
 
  font-weight: 400;
font-style: Regular;
font-size: 20px;
color: inherit;
}

/* Copyright */
.copyText {
  font-weight: 400;
font-style: Regular;
font-size: 20px;
  opacity: 0.9;
  margin-bottom: 20px;
  color: inherit;
}

/* Responsive */
@media (max-width: 768px) {
  .linkContainer {
    gap: 1.2rem;
  }

  .supportText,
  .copyText {
    font-size: 0.7rem;
  }
}
