:root {
  
  --color-primary: #E6A767;
  --color-danger: #DC143C;
  --color-success: #50C878;

  --color-text-dark: #111827;
  --color-text-light: #ffffff;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-smm: 4px;

  --transition-fast: 150ms ease;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--color-bg-light);
  color: var(--color-text-dark);
}
